@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&display=swap');

* {
    box-sizing: border-box;
    overflow-x: hidden;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

h1, 
h2,
h3,
ul,
hr {
    margin-top: 0;
    margin-bottom: 0;
}

ul {
    list-style: none;
    padding-left: 0;
}

input {
    outline: none;
    font-family: inherit;
}

button {
    font-family: inherit;
    cursor: pointer;
    border: none;
}

.maintittle {
    position: relative;
    top: 1em;
    left: 1em;
    margin-bottom: 2em;
}

.container {
    display: grid;
    grid-template-columns: 90%;
}

.card {
    padding-right: 0;
    width: 100%;
    max-width: 50vh;
    margin: 1.2em;
    border: 0.1em solid #aaaaaa9a;
    border-radius: 0.5em;
    justify-content: center;
    text-align: center;
    display: grid;
}

.card__name {
    margin-top: 0.9em;
    margin-bottom: 0.5em;
}

.card__elements {
    margin-top: 0.4em;
    margin-bottom: 0.4em;
}

hr {
    align-items: center;
    max-width: 100%;
    width: 18em;
    margin: 0;
    border-color: #aaaaaa33;
}

.card__btn__container {
    display: grid;
    grid-template-columns: 20% 20%;
    column-gap: 1em;
    justify-content: center;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.card__btn {
    background-color: rgb(250, 97, 80);
    border-radius: 0.5em;
    color: white;
    height: 1.5em;
    width: 4.5em;
    max-width: 4.8em;
}

.card__btn:hover {
    background-color: rgb(226, 239, 252);
    color: rgb(250, 97, 80);
}

.create__btn {
    background-color: rgb(250, 97, 80);
    color: white;
    position: absolute;
    top: 3.2em;
    right: 1.8em;
    border-radius: 0.5em;
    height: 1.5em;
    width: 12em;
    max-width: 12em;
}

.card__label {
    font-weight: 200;
}

.card__info {
    font-weight: 500;
}

@media screen and (min-width: 576px) {
    .container {
        display: grid;
        grid-template-columns: 40% 40%;
        column-gap: 1.8em;
        justify-content: center;
        text-align: center;
        align-items: center;
        margin-left: 0;
        margin-right: 1.8em;
    }

    .card {
        padding-right: 0;
        width: 100%;
        max-width: 50vh;
        margin: 1.2em;
        border: 0.1em solid #aaaaaa9a;
        border-radius: 0.5em;
        justify-content: center;
        text-align: center;
        display: grid;
    }

    .card__name {
        font-size: 0.8rem;
    }

    .card__elements {
        font-size: 0.8rem;
    }

}

@media screen and (min-width: 678px) {
    .container {
        display: grid;
        grid-template-columns: 40% 40%;
        column-gap: 1.8em;
        justify-content: center;
        text-align: center;
        align-items: center;
        margin-left: 0;
        margin-right: 1em;
    }

    .card {
        padding-right: 0;
        width: 100%;
        max-width: 80vh;
        margin: 1.2em;
        border: 0.1em solid #aaaaaa9a;
        border-radius: 0.5em;
        justify-content: center;
        text-align: center;
        display: grid;
    }

    .card__name {
        font-size: 1.2rem;
    }

    .card__elements {
        font-size: 1rem;
    }
}

@media screen and (min-width: 992px) {
    .maintittle {
        position: relative;
        top: 1.8em;
        left: 4em;
    }

    .create__btn {
        top: 5em;
        right: 15em;
    }

    .container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
        column-gap: 1.8em;
        justify-content: center;
        text-align: center;
        align-items: center;
        margin-top: 2em;
        margin-left: 4em;
        margin-right: 1em;
    }

    .card {
        padding-right: 0;
        width: 100%;
        max-width: 50vh;
        margin: 1.2em;
        border: 0.1em solid #aaaaaa9a;
        border-radius: 0.5em;
        justify-content: center;
        text-align: center;
        display: grid;
    }

    .card__name {
        font-size: 1.2rem;
        padding: 0.8em;
    }

    .card__elements {
        font-size: 1rem;
        padding: 0.5em;
    }

    .card__btn__container {
        padding: 0.5em;
    }
}